<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<!-- Suppress INFO logs from TestNG's internal utilities -->
		<Logger name="org.testng" level="WARN" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<!-- Suppress INFO logs from WebDriverManager -->
		<Logger name="io.github.bonigarcia.wdm" level="WARN" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<!-- Root logger: set default level to WARN to suppress general INFO
		messages -->
		<Root level="WARN">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
